/nbproject/private/
index.php
model/db.class.php
mypanel/index.php
mypanel/model/db.class.php
.buildpath
.project
cache/
waffer12_myapp.sql
mypanel/includes/json/*
error_log
.htaccess
mypanel/includes/Plain_Image_Gallery/*

