RewriteEngine on
				RewriteCond %{REQUEST_FILENAME} !-f
				RewriteCond %{REQUEST_FILENAME} !-d
				Options All -Indexes
				RewriteRule ^(.*)$ index.php?rt=$1 [L,QSA]
				# disable the server signature
				ServerSignature Off
				#Remove Etags:
				FileETag none
				# deny access to certain files:
				<FilesMatch "\.(htaccess)$">
				 Order Allow,Deny
				 Deny from all
				</FilesMatch>
				